@import url(style-2.css);

body{
    display: grid;
    padding: 0%;
    margin: 30px;
}

/* Header/Blog header */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(113, 149, 112);
}

h1{
    display: flex;
    font-size: 14;
    margin: 15px;
    color: aqua;
}

h2{
    display: grid;
    justify-content: center;
    background-color:rgb(249, 155, 155);
    padding: 25px; 
    margin: 0%;
    color: aqua;
}

/* style list item */
.nav{
    display: flex;
    list-style: none;
    margin: 30px;
}

/* style unordered list item */
.nav a{
    display: flex;
    color: black;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
}

/* rotate list item 3deg */
.nav a:hover{
    color: blueviolet;
    transform: rotate(3deg);
}

.nav li{
    margin-left: 25px;
}

/* media quaries for picture */
img{
    width: 100%;
    height: auto;
}

@media screen and (min-width: 700px) and (max-width: 1000px){
    .picture{
        padding: 0px 20px;
        background-color: rgb(209, 251, 251);
    }
}

/* picture style */
#card {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 25px 25px 25px;
    gap: 25px;
    transition: 0.3s;
}

/* picture background style */
.box {
    padding: 20px;
    text-align: center;
    border-radius: 1rem;
    background-color: rgb(244, 216, 216);
}

/* add a style for author */
#author {
    padding: 15px;
    margin-top: 5px;
    background-color: rgb(243, 132, 132) 
}

.author-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 45px;
    float: right;
}

.about span{
    font-family:  monospace;
    font-size: 21px;
    font-weight: bold;
}

/* about me paragraph line-height */
.about p{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6rem;
}

.about button {
    margin: 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 5pt;
    background:rgb(245, 226, 226)
}

.about button:hover {
    color: blueviolet;
    background-color: bisque;
}

.contact span{
    font-family:  'Times New Roman', Times, serif;
    font-size: 21px;
    font-weight: bold;
}

.contact a .write{
    display: flex;
    text-decoration-style: none;
    transition: all 0.3s;
    display: block;
}

.contact a .write:hover {
    color: black;
    text-overflow: ellipsis;
}

.socials span{
    font-family:  'Times New Roman', Times, serif;
    font-size: 21px;
    font-weight: bold;
}

/* add font style */
.socials a .fa{
    padding: 0px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    display: block;
}

/* add a hover */
.socials a .fa:hover {
    color: blueviolet;
    text-decoration: underline;
}

/* style footer */
.footer{
    background-color:rgb(134, 166, 126);
    font-style: italic;
    padding: 15px;
    text-align: center; 
    font-weight: bold;
    color:azure
}